@charset "EUC-KR";

.session{
        background : #18bc9c;
        padding-top:calc(1.5rem + 55px);
        font-size:16px;
        line-height:1.6;
        font-family: 'Lato';

    }


#mainNav ul,#mainNav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainNav ul {
  position: relative;
  z-index: 597;
}

#mainNav ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
  font-weight:bold;
   color: white; 
   background-color: #2c3e50; 
   float: left; vertical-align: middle; text-align: center; position: relative; 
}
#menuLink { 
    /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */ text-decoration:none; display: block; width: 130px; font-size: 15px; font-weight: bold; font-family: "Trebuchet MS", Dotum; }
#mainNav ul li.hover,
#mainNav ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#mainNav ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}

#mainNav ul ul li {
  float: none;
}

#mainNav ul ul ul {
  top: 0;
  left: auto;
  right: -99.5%;
}

#mainNav ul li:hover>ul {
  visibility: visible;
}

#mainNav ul ul {
  bottom: 0;
  left: 0;
}

#mainNav ul ul {
  margin-top: 0;
}

#mainNav ul ul li {
  font-weight: bold;
}

#mainNav a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}


#mainNav>ul {
  *display: inline-block;
}

#mainNav:after,
#mainNav ul:after {
  content: '';
  display: block;
  clear: both;
}
#mainNav a {
 background-color:#2c3e50;
  color: white;
  padding: 0 20px;
}

#mainNav ul {
  text-transform: uppercase;
}

#mainNav ul ul {
  border-top: 4px solid #2c3e50;
  text-transform: none;
  min-width: 190px;
}

#mainNav ul ul a {
    font-size:13px;
    font-weight:bold;
  background: #2c3e50;
  color: white;
  border: 1px solid #2c3e50;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
}

#mainNav ul ul ul {
  border-top: 0 none;
}

#mainNav ul ul li {
  position: relative;
}
#mainNav>ul>li>a {
  line-height: 48px;
}

#mainNav ul ul li:first-child>a {
  border-top: 1px solid #2c3e50;
}

#mainNav ul ul li:hover>a {
  background: #2c3e50;
  font-weight:bold;
  
  
}

#mainNav ul ul li:last-child>a {
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 0 #2c3e50;
}

#mainNav ul ul li:last-child:hover>a {
  border-radius: 0 0 0 3px;
}

#mainNav ul ul li.has-sub>a:after {
  content: '>';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#mainNav ul li:hover>a {
  background: #2c3e50;
  color: #18bc9c;
   font-weight:bold;
}
#mainNav ul li.active>a {
  background: #2c3e50;
  color: #18bc9c;
 
}
#mainNav ul li.has-sub>a:after {
  content: '>';
  margin-left: 5px;
}

#mainNav ul li.last ul {
  left: auto;
  right: 0;
}

#mainNav ul li.last ul ul {
  left: auto;
  right: 99.5%;
}